SERVER_URL=http://localhost
CLIENT_URL=http://localhost:5173
PORT=5001

MYSQL_HOST=localhost
MYSQL_USER=set_forge_db_user
MYSQL_DB=set_forge_db
MYSQL_PASSWORD=set_forge_db_password
MYSQL_PORT=3306

SERVER_STATIC=static
JWT_SECRET_KEY=set_forge_long_random_value
SESSION_SECRET_KEY=set_forge_long_random_value
SERVER_LOGS=logs
