SERVER_URL=http://localhost
CLIENT_URL=http://localhost:5173
PORT=5000

MYSQL_HOST=mysql
MYSQL_USER=change_me_db_user
MYSQL_DB=change_me_db
MYSQL_PASSWORD=change_me_db_password
MYSQL_PORT=3306

SERVER_STATIC=static
JWT_SECRET_KEY=change_me_long_random_value
SESSION_SECRET_KEY=change_me_long_random_value
SERVER_LOGS=logs
