name: Project test

on:
  push:
    branches: [ develop, testing, main ]
  pull_request:
    branches: [ develop, testing, main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.20.0

      - name: Install dependencies
        run: npm ci

      - name: Unit tests
        run: npm run test:unit

      - name: Snapshot tests
        run: npm run test:snap
